body {
    background-color: rgb(110, 110, 197);
    font: normal 15pt Arial;
}

header {
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

section {
    background: white;
    color: rgb(80, 70, 218);
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);

}

section div {
    padding-top:20px ;
}



